body {
    background-color: #000000;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 0;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    text-transform: uppercase;
    font-size: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

