<div class="container body-content">
    <h1>@ViewBag.Conditions</h1>
    <h1>@ViewBag.High</h1>
    <h1>@ViewBag.Low</h1>
    <h1>@TimeZoneInfo.ConvertTimeBySystemTimeZoneId(DateTime.Now, "Central Standard Time").ToString("h:mm")</h1>
</div>
