<div class="container body-content">
    <h1>@ViewBag.Conditions</h1>
    <h1>@ViewBag.Low to @ViewBag.High</h1>
    <h1>@TimeZoneInfo.ConvertTimeBySystemTimeZoneId(DateTime.Now, "Pacific Standard Time").ToString("dddd h:mm")</h1>
</div>
