<!DOCTYPE html>
<html>
<head>
    <title>Bathroom Kiosk</title>
    @Styles.Render("~/Content/css")
</head>
<body>
<div id="contents">Loading...</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script>
    $(document).ready(reload);

    function reload() {
        $("#contents").load("@Url.Action("Forecast")");
        setTimeout(reload, 10000);
    }
</script>
</body>
</html>